@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {margin:0; padding:0; font-family: 'Open Sans', sans-serif;}

body{background:#fffffA;}
/* Estilos del header */
header {
	width:100%;
	overflow: hidden;
	background:#0a141d;
}

.wrapper {
	width:90%;
	max-width:1200px;
	margin:auto;
	overflow:hidden;
}

header .logo {
	color:#f2f2f2;
	font-size:50px;
	font-family:"Nexa";
	line-height:80px;
	float:left;
}

header .logo img{
	margin-top: 55px;
	width: 300px;
}

header nav {
	float:right;
	line-height:200px;
}

header nav a {
	display:inline-block;
	color:#fff;
	padding:10px 20px;
	text-decoration:none;
	line-height:normal;
	font-size:20px;
	font-family:"Nexa";
	font-weight:bold;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

header nav a:hover {
	background:#F56F3A;
	border-radius:50px;
}

@media screen and (max-width: 950px) {
	header .logo,
	header nav {
		width:100%;
		text-align:center;
		line-height:100px;
	}
}

.portada {
    position: relative;
    width: 100%;
    height: 100vh;
}

.portada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portada .fondo-negro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cambia el valor alpha (0.5) según la opacidad deseada */
}

.portada .texto-portada {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}

.portada .texto-portada h1 {
    font-size: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.portada .texto-portada2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}

.portada .boton {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background: #F56F3A;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-size: 18px;
    transition: background 0.3s ease;
}

.portada .boton:hover {
    background: #FF8247;
}

.texto-portada {
    position: absolute;
    top: 25%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
  
.texto-portada h1 {
    font-size: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.texto-portada2 {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
}
  
.texto-portada2 h2 {
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    left: 5%;
}

.texto-portada2-izquierda {
    left: 5%;
}

/* Estilos del footer */
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a img{
    width: 45px;
    height: 45px;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}